<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img id="movieImage" src="{{url_for('static',filename='movie\\anjaan.jpg')}}" alt="poster">
        <h3 id="movieTitle">please click button to get movies</h3>
        <button onclick=getmovie()>Recommender</button>
    </div> 
    <script src="/static/script.js"></script>
    
</body>
</html>